{% extends "layout.html.twig" %}

{% set active = box %}

{% block page_title %}
    {{ box.nom }}
{% endblock %}

{% block content %}

    {#{{ dump(article) }}#}
    {#{{ dump(article.membre.prenom) }}#}
    {#{{ dump(article.categorie.nom) }}#}

    <div class="row">
        <!--colleft-->
        <div class="col-md-8 col-sm-12">

            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}

            <!--post-detail-->
            <article class="post-detail">
                <h1>{{ box.nom }}</h1>
                <div class="meta-post">
                    <a href="#">
                        {{ box.membre.prenom ~ ' ' ~ box.membre.nom }}
                    </a>
                    <em></em>
                </div>

            </article>

        </div>
        {#{% include 'components/_sidebar.html.twig' %}#}
        {{ render(controller('App\\Controller\\TechNews\\FrontController::sidebar', {
            'box' : box
        })) }}
    </div>
{% endblock %}

